.desktop-1-child {
    position: absolute;
    top: 63px;
    left: 24px;
    background-color: var(--color-gainsboro);
    width: 1392px;
    height: 119px;
  }
  .desktop-1-item {
    position: absolute;
    top: 253px;
    left: 92px;
    width: 577px;
    height: 547px;
    object-fit: cover;
  }
  .desktop-1-inner {
    position: absolute;
    top: 221px;
    left: 721px;
    background-color: #f8f8f8;
    width: 621px;
    height: 746px;
  }
  .bnh-lun,
  .sn-phm-1,
  .sn-phm-cng {
    position: absolute;
    display: inline-block;
    width: 385px;
  }
  .sn-phm-1 {
    top: 221px;
    left: 740px;
    font-size: 64px;
    height: 93px;
    -webkit-text-stroke: 2px #000;
  }
  .bnh-lun,
  .sn-phm-cng {
    top: 978px;
    left: 98px;
    height: 60px;
  }
  .sn-phm-cng {
    top: 1237px;
    width: 326px;
  }
  .div,
  .m-t,
  .mota {
    position: absolute;
    left: 740px;
    font-size: var(--font-size-21xl);
    display: inline-block;
    width: 385px;
    height: 93px;
  }
  .div {
    top: 325px;
    color: #f80808;
  }
  .m-t,
  .mota {
    top: 394px;
    color: var(--color-gray);
  }
  .mota {
    top: 487px;
    height: 157px;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: #f31010;
    width: 495px;
    height: 97px;
  }
  .thm-vo-gi {
    position: absolute;
    top: 32px;
    left: 49px;
    display: inline-block;
    width: 463px;
    height: 93px;
  }
  .rectangle-parent {
    position: absolute;
    top: 692px;
    left: 784px;
    width: 512px;
    height: 125px;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
  }
  .group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: #ea2121;
    width: 495px;
    height: 97px;
  }
  .mua-ngay {
    position: absolute;
    top: 19px;
    left: 149px;
    display: inline-block;
    width: 242px;
    height: 93px;
  }
  .rectangle-group {
    position: absolute;
    top: 817px;
    left: 784px;
    width: 495px;
    height: 112px;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
  }
  .rectangle-div {
    position: absolute;
    top: 1038px;
    left: 98px;
    background-color: var(--color-gainsboro);
    width: 1246px;
    height: 169px;
  }
  .desktop-1-child1,
  .desktop-1-child2,
  .rectangle-icon {
    position: absolute;
    top: 1300px;
    left: 98px;
    width: 339px;
    height: 309px;
    object-fit: cover;
  }
  .desktop-1-child1,
  .desktop-1-child2 {
    top: 1297px;
    left: 550px;
  }
  .desktop-1-child2 {
    left: 1005px;
  }
  .desktop-1-child3,
  .group-inner {
    position: absolute;
    top: 1606px;
    left: 1005px;
    width: 339px;
    height: 80px;
  }
  .group-inner {
    top: 0;
    left: 0;
    background-color: var(--color-gainsboro);
  }
  .div1,
  .sn-phm1 {
    position: absolute;
    top: 0;
    left: 80px;
    display: inline-block;
    width: 166px;
    height: 38px;
  }
  .div1 {
    top: 38px;
    left: 131px;
    color: var(--color-red-100);
  }
  .group-child2,
  .group-div,
  .rectangle-container {
    position: absolute;
    top: 1607px;
    left: 98px;
    width: 339px;
    height: 80px;
  }
  .group-child2,
  .group-div {
    top: 1605px;
    left: 550px;
  }
  .group-child2 {
    top: 4px;
    left: 0;
    background-color: var(--color-gainsboro);
  }
  .div3,
  .sn-phm12 {
    position: absolute;
    top: 0;
    left: 77px;
    display: inline-block;
    width: 166px;
    height: 38px;
  }
  .div3 {
    top: 38px;
    left: 128px;
    color: var(--color-red-100);
  }
  .rectangle-parent1 {
    position: absolute;
    top: 1603px;
    left: 1005px;
    width: 339px;
    height: 84px;
  }
  .desktop-1,
  .desktop-1 {
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 1929px;
    overflow: hidden;
  }
  .desktop-1-parent {
    position: relative;
    width: 100%;
    height: 1929px;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  